input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #26b946;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #9c2735;
}

Create Account form

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    color: #888;
    margin-bottom: 25px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 16px;
}

input[type="file"] {
    display: none;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #3e8e41;
}

/* New CSS for the circle */

.avatar-circle {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: #ccc; /* Adjust the color as needed */
    border-radius: 50%;
    margin-right: 5px;
    line-height: 30px; /* Ensures text aligns in the middle */
}
